<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.topildi.app">

    <!-- Internet permission for Firebase and network operations -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- Camera permission for image_picker camera functionality -->
    <uses-permission android:name="android.permission.CAMERA"/>
    
    <!-- Storage permissions for image_picker gallery functionality -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
                     android:maxSdkVersion="32"/>
    
    <!-- For Android 13+ (API 33+) - Required for reading images from gallery -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    
    <!-- Camera feature declaration (optional, but recommended) -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
        android:label="bingo"
        android:name="${applicationName}">
        <!-- icon commented out (optional) -->
        <!-- android:icon="@mipmap/ic_launcher" -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>
